{% extends "layout.html" %}
{% block content %}

<div id="page-wrapper">
  <div class="container-fluid">
    <div class="row"> <!-- Page Heading -->
      <div class="col-lg-12">
        <h1 class="page-header">
          <center>Plan Your Experiments! </center>
        </h1>
      </div>
    </div>
    <div class="container"> <!-- Main Container -->
      <img src="{{ url_for('static', filename='images/experiment.png') }}"></img>
    </div>
  </div> <!-- /.container-fluid -->
</div> <!-- /#page-wrapper -->

{% endblock %}
