{% extends "layout.html" %}
{% block content %}

<div id="page-wrapper">
  <div class="container-fluid">
    <!-- Page Heading -->
    <div class="row"> 
      <div class="col-lg-12">
        <h1 class="page-header">
          <center>Standard Experimental Planner: Part 1 </center>
        </h1>
      </div>
    </div>
   
<!-- Main Container -->
    <div class="container">
      <!-- Form Items --> 
      <form action="GenerateExperiment" method="get"  data-ajax="false">
        
        <div class="row">
          <center>
            <h4 class="text-info">Set up Basic Experimental Components</h4>
          </center>
        </div>

        <!-- Headers --> 
        <div class="row">
          <div class="col-xs-6 col-md-6">
            <div class="panel panel-default">
              <div class="panel-heading">
                  <h5 class="text-info"> Enter the Number of Replications:</h5>
              </div>
              <!-- /.panel-heading -->
              <div class="panel-body">
                  <div class="col-xs-6 col-md-6">
                    <center>
                      <input type="number" id="replications" name="ReplicationNum" min="0" max="1000" class="form-control" placeholder="Ex. 3">
                    </center>
                  </div>
              </div>
              <!-- /.panel-body -->
            </div>
          </div>
          <!-- /.col-xs-6 -->

          <div class="col-xs-6 col-md-6">
            <div class="panel panel-default">
              <div class="panel-heading">
                  <h5 class="text-info">Format the Experiment with a Well-Plate:</h5>
              </div>
              <!-- /.panel-heading -->
              <div class="panel-body">
                  <div class="col-xs-6 col-md-6">
                    <center>
                      <select class="form-control" name = "wellsize">
                        <option value="0">None</option>
                        <option value="6">6 Well</option>
                        <option value="12">12 Well</option>
                        <option value="24">24 Well</option>
                        <option value="48">48 Well</option>
                        <option value="96">96 Well</option>
                      </select> 
                    </center> 
                  </div>
              </div>
              <!-- /.panel-body -->
            </div>
          </div>
          <!-- /.col-xs-6 -->
        </div>

        <br><br>

        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="text-info"> Define your Variables:</h4>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped" id = "vartable">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Variable Number</th>
                                    <th>Variable Name</th>
                                    <th>Variable Type</th>
                                    <th>Number of Classes</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr id='var1'>
                                    <td>
                                        <button type="button" class="btn btn-warning btn-circle">
                                            <i class="fa fa-times"></i>
                                        </button>
                                    </td>
                                    <td>
                                        <h4> 1 <h4>
                                    </td>
                                    <td>
                                        <input type="text" name='varname1'  placeholder='e.g. Time' class="form-control"/>
                                    </td>
                                    <td>
                                         <select class="form-control" name = "vartype1">
                                            <option value="0">Multi-Class Variable</option>
                                            <option value="1">Pos/Neg Variable</option>
                                            <option value="2">Control</option>
                                          </select> 
                                    </td>
                                    <td>
                                        <input type="number" name="numclasses1" min="2" max="30" class="form-control" placeholder="Ex. 3">
                                    </td>
                                </tr>
                                <tr id='var2'>
                                  

                            </tbody>
                        </table>
                        
                        <a id="add_row" class="btn btn-default pull-right">Add Variable</a>
                    </div>
                <!-- /.table-responsive -->
                </div>
            </div>
        </div>
        <!-- Submit --> 
        <div class="row">
          <center>
            <button class="btn btn-primary btn-lg" id="contprotocol" type="submit">Next -></button>
          </center>
        </div>

      </form>
    </div>
    <!-- /.container-->
  </div> 
  <!-- /.container-fluid -->
</div> 
<!-- /#page-wrapper -->

<script>

function dynamic_var_table(){
    return 0
}

$(document).ready(function(){
    var i = 1;
    $("#add_row").click(function(){
        i++;
        $('#var'+i).html();
        $('#vartable').append('<tr id="var'+(i+1)+'"></tr>');
    });
});

</script>


{% endblock %}
